@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
body{
    background-color: #FFF7E6;
}
.menu{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFF7E6;
}
.menu a{
    text-decoration: none;
    color: #223C58;
    border: #223C58 2px solid;
    border-radius: 10px;
    background-color:#86D2DC;
    padding: 5px 10px;
    cursor: pointer;
}
.container{
    background-color: #FFF7E6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: start;
    
    padding-top: 10px;
    padding-bottom: 80px;
    
}
summary{
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .container{
       flex-direction: row;
       justify-content: center;
    }
  }

.questao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
    color:  #223C58;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.2rem;
    width: 335px;
    border: #223C58 solid 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    
}
@media screen and (min-width: 1025px) {
    .questao{
        width: 450px;
    }
  }
.ref{
    font-size: 0.9rem;
}
.esconde-resposta{
    background-color: #F4B400;
    width: fit-content;
    padding: 3px 7px;
    border: #223C58 solid 2px;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-top: 10px;
}



